html, body {
    margin: 0;
    padding: 0;
    font-family: Georgia, sans-serif;
}

h1, h2, h3 {
    font-family: Georgia, Times, serif;
}

h2 {
    font-size: xx-large;
    color: red;
}

body {
    background-image: url('../images/webpagebkground.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    position: relative;
}

@media (max-width: 768px) {
    body {
        background-size: auto;
    }
}

.site-header {
    background-color: none;
    width: 100%;
    padding: 10px;
    overflow: auto;
    color: red;
}

.site-title {
    float: left;
}

.site-navigation {
    float: right;
    text-align: right;
    margin: 20px 30px 0 0;
    color: red;
}

ul.nav-menu {
    list-style-type: none;
    padding: 0;
    margin: 0;
    color: red;
}

ul.nav-menu li {
    display: inline;
    padding-right: 20px;
}

ul.nav-menu li a {
    font-size: x-large;
    color: green;
    text-decoration: none;
}

ul.nav-menu li a:hover {
    text-decoration: underline;
}

.site-header::after {
    content: "";
    display: table;
    clear: both;
}

.container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.content {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
}

.blog-posts {
    background-color: rgba(0, 0, 0, 0.5);
    width: 80%; /* Adjust width as needed */
    max-width: 1200px; /* Example maximum width */
    margin: 0 auto; /* Centering content */
    text-align: left; /* Ensure content alignment */
}


footer {
    position: fixed; /* Fixed positioning */
    bottom: 0; /* Stick to the bottom of the viewport */
    background-color: transparent;
    width: 100%;
    padding: 5px;
    color: green;
    font-size: x-large;
}