@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
body {
    background-color: black;
    color: white;
    font-family: 'Press Start 2P', monospace;
    text-align: center;
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 4em;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

h2 {
    font-size: 3em;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}


h3 {
    font-size: 2em;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

#teletext-screen {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 5px solid red;
}

.highlight-number {
    color: green;
}

#header {
    background-color: red;
    color: white;
    font-size: 4em;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    padding: 20px;
}
#main-content {
    flex-grow: 1;
    text-align: center;
    padding: 20px;
    border-top: 2px solid red;
}
ul {
    list-style: none;
    text-align: left;
    padding: 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}
li {
    color: white;
    font-size: 1.5em;
    padding: 10px 0;
}


a {
    text-decoration: none;
    color: white;
}

a:hover {
    text-decoration: underline;
}

.spotify-embed {
    border-top: 2px solid red;
    border-bottom: 2px solid red;
}

#footer {
    background-color: red;
    color: white;
    padding: 20px;
    border: 5px solid red;
}
